<style>
  footer {
    background-image: url('../../../assets/MadMaxFuryRoad-9f17bec5f89e26e60ad1e3af8ae17ea7a2e6921e005477046046da2fab832ce8.jpg'), radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);
  }
</style>

<footer class="single_column lazyload">
  <nav>
    <div class="join">
      <img src="../../../../assets/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" width="130" height="116">
        <a class="rounded" href="#">Adira à Comunidade</a>
    </div>

    <div>
      <h3>Básico</h3>
      <ul>
        <li><a href="#">Sobre o TMDb</a></li>
        <li><a href="#">Contacte-nos</a></li>
        <li><a href="#">Fóruns de Suporte</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#" target="_blank" rel="noopener">Blogue</a></li>
      </ul>
    </div>
    <div>
      <h3>Envolva-se</h3>
      <ul>
        <li><a href="#"><span class="glyphicons glyphicons-asterisk"></span> Contribution Bible</a></li>
        <li><a href="#">Aplicações de Terceiros</a></li>
        <li><a href="#">Adicionar Novo Filme</a></li>
        <li><a href="#">Adicionar Nova Série de TV</a></li>
      </ul>
    </div>
    <div>
      <h3>Comunidade</h3>
      <ul>
        <li><a href="#">Manual de Regras</a></li>
        <li><a href="#">Líderes</a></li>
        <li><a href="#">Fóruns</a></li>
        <li><a href="https://twitter.com/themoviedb" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://www.facebook.com/themoviedb" target="_blank" rel="noopener">Facebook</a></li>
      </ul>
    </div>
    <div>
      <h3>Legal</h3>
      <ul>
        <li><a href="#">Condições de Utilização</a></li>
        <li><a href="#">Política de Privacidade</a></li>
      </ul>
    </div>
  </nav>
</footer>
