<div class="tv_wrap">
  <main id="main" class="">
    <section class="inner_content tv_content backdrop poster">
      <div class="header large border first lazyload">
        <div class="custom_bg">
          <div class="single_column">

            <section class="images inner">
              <div class="poster">
                <div class="image_content">
                  <img class="poster"
                    src="../../../../assets/zW1k1QYYUXxPBqQigxk4ynbcTYD.jpg"
                    srcset="../../../../assets/zW1k1QYYUXxPBqQigxk4ynbcTYD.jpg" alt="The 100">
                </div>

                <div class="zoom">
                  <a href="#"><span class="glyphicons glyphicon-tower"></span> Expand</a>
                </div>
              </div>

              <div class="header_poster_wrapper">
                <section class="header poster">
                  <div class="title" dir="auto">
                    <span><a href="../48866-the-100/index.html"><h2 class="7">The 100</h2></a> <span class="release_date">(2014)</span></span>
                  </div>

                  <ul class="auto actions">

                    <li class="chart">
                      <div class="consensus">
                        <div class="outer_ring">
                          <div class="user_score_chart" data-percent="64.0" data-track-color="#423d0f" data-bar-color="#d2d531">
                            <div class="percent">

                                <span class="icon icon-r64"></span>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text">User<br>Score</div>
                    </li>

                    <li class="tooltip use_tooltip " title="Login to create and edit custom lists">
                      <a class="no_click" href="#"><span class="glyphicons glyphicons-list x1"></span></a>
                    </li>

                    <li class="use_tooltip tooltip" title="Login to add this movie to your favorite list">
                      <a id="favourite" class="no_click add_to_account_list favourite false" href="#"><span class="glyphicons glyphicons-heart x1"></span></a>
                    </li>

                    <li class="use_tooltip tooltip" title="Login to add this movie to your watchlist">
                      <a id="watchlist" class="no_click add_to_account_list watchlist false" href="#"><span class="glyphicons glyphicons-bookmark x1"></span></a>
                    </li>


                    <li class="tooltip use_tooltip rating" title="Login to rate this movie">
                      <a id="rate_it" class="no_click rating false" href="#"><span class="glyphicons glyphicons-star x1"></span></a>
                    </li>

                    <li class="video none">
                      <a class="no_click play_trailer" href="#" data-id="aDrsItJ_HU4"><span class="glyphicons glyphicons-play"></span> Play Trailer</a>
                    </li>

                  </ul>

                  <div class="pad">
                    <h3 dir="auto">Overview</h3>
                    <div class="overview" dir="auto">
                      <p>Based on the books by Kass Morgan, this show takes place 100 years in the future, when the Earth has been abandoned due to radioactivity. The last surviving humans live on an ark orbiting the planet — but the ark won't last forever. So the repressive regime picks 100 expendable juvenile delinquents to send down to Earth to see if the planet is still habitable.</p>
                    </div>

                      <h3 dir="auto" class="featured">Featured Crew</h3>
                      <ol class="people no_image">

                        <li class="profile">
                          <p><a href="../../person/1258670-jason-rothenberg/index.html">Jason Rothenberg</a></p>
                          <p class="character">Creator</p>
                        </li>

                      </ol>

                  </div>
                </section>
              </div>
            </section><!-- .images inner -->

          </div><!-- .single_column -->
        </div><!-- .custom_bg -->
      </div><!-- .header large border first lazyload -->
    </section><!-- .inner_content tv_content backdrop poster -->
  </main><!-- main -->
</div><!-- .page_wrap tv_wrap -->
